
HirstPainting/.idea/modules.xml
HirstPainting/.idea/misc.xml
HirstPainting/.idea/inspectionProfiles/profiles_settings.xml
HirstPainting/.idea/HirstPainting.iml
pong-game/.idea/inspectionProfiles/profiles_settings.xml
pong-game/.idea/misc.xml
pong-game/.idea/modules.xml
pong-game/.idea/pong-game.iml
pong-game/__pycache__/ball.cpython-39.pyc
pong-game/__pycache__/paddle.cpython-39.pyc
pong-game/__pycache__/scoreboard.cpython-39.pyc
Project1/.idea/inspectionProfiles/profiles_settings.xml
Project1/.idea/misc.xml
Project1/.idea/modules.xml
Project1/.idea/Project1.iml
Project2/.idea/inspectionProfiles/profiles_settings.xml
Project2/.idea/misc.xml
Project2/.idea/modules.xml
Project2/.idea/Project2.iml
pythonProject/.idea/.name
pythonProject/.idea/CoffeeMachine.iml
pythonProject/.idea/inspectionProfiles/profiles_settings.xml
pythonProject/.idea/modules.xml
pythonProject/.idea/misc.xml
pythonProject/.idea/workspace.xml
snake_game/.idea/inspectionProfiles/profiles_settings.xml
snake_game/.idea/misc.xml
snake_game/.idea/modules.xml
snake_game/.idea/snake_game.iml
snake_game/__pycache__/food.cpython-39.pyc
snake_game/__pycache__/snake.cpython-39.pyc
